{% extends 'base.html' %}
{% block title %}HOME{% endblock %}
{% block content %}
<p class="display-4 text-light">Stream Now</p>
<div class="container-fluid my-5">
    <div class="row justify-content-center shadow-sm my-2">
        {% for movie in movies %}
        <div class="col d-flex text-center mx-1 my-3">
            <div class="card mx-auto border-1" style="width: 18rem;">
                {% if movie.image %}
                <img src="{{ movie.image.url }}" class="card-img-top object-fit: cover " style="height: 25vh;"
                    alt="...">
                    {% endif %}
                <div class="card-body d-flex flex-column " style="background-color: rgb(237, 246, 255);">
                    <p class="display-6 fw-semibold card-title text-start">{{movie.title}}</>
                    <h6 class="card-subtitle text-start">Year :{{movie.year}}</h6>
                    <p class="card-text lead text-start ">{{movie.description}}</p>
                    <div class="container mt-auto ">
                        <a href="{% url 'movie:details' movie.id %}"
                            class="btn  btn-lg btn-dark shadow-sm btn-outline-light ">Watch Here</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}